# ==========================
# PYTHON
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib
*.h5
*.pt

# ==========================
# JUPYTER
# ==========================
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# ==========================
# ENVIRONMENTS
# ==========================
env/
venv/
.venv/
ENV/
*.env
*.env.*

# ==========================
# DATA
# ==========================
data/*
!data/.gitkeep

# ==========================
# MODELS
# ==========================
models/*
!models/.gitkeep

# ==========================
# LOGS
# ==========================
logs/
*.log

# ==========================
# OS FILES
# ==========================
.DS_Store
Thumbs.db
